In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('alistamento.csv')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 300914 entries, 1 to 301462
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ANO_NASCIMENTO    300914 non-null  int64
 1   PESO              300914 non-null  float64
 2   ALTURA            300914 non-null  float64
 3   CABECA            300914 non-null  float64
 4   CALCADO           300914 non-null  float64
 5   CINTURA           300914 non-null  float64
 6   MUN_NASCIMENTO    300914 non-null  object
 7   UF_NASCIMENTO     300914 non-null  object
 8   PAIS_NASCIMENTO   300914 non-null  object
 9   ESTADO_CIVIL      300914 non-null  object
 10  SEXO              300914 non-null  object
 11  ESCOLARIDADE      300914 non-null  object
 12  VINCULACAO_ANO    300914 non-null  int64
 13  DISPENSA          300914 non-null  object
 14  ZONA_RESIDENCIAL  300914 non-null  object
 15  MUN_RESIDENCIA    300914 non-null  object
 16  UF_RESIDENCIA     300914 non-null  object
 17  PAIS_RESIDENCIA   300914 non-null  object
 18  JSM               300914 non-null  object
 19  MUN_JSM           300914 non-null  object
 20  UF_JSM            300914 non-null  object
dtypes: float64(5), int64(2), object(14)
memory usage: 50.5+ MB

In [6]:
df.head()

,ANO_NASCIMENTO,PESO,ALTURA,CABECA,CALCADO,CINTURA,MUN_NASCIMENTO,UF_NASCIMENTO,PAIS_NASCIMENTO,ESTADO_CIVIL,...,ESCOLARIDADE,VINCULACAO_ANO,DISPENSA,ZONA_RESIDENCIAL,MUN_RESIDENCIA,UF_RESIDENCIA,PAIS_RESIDENCIA,JSM,MUN_JSM,UF_JSM
1,1995,79.0,181.0,56.0,41.0,88.0,PALMEIRA DAS MISSOES,RS,BRASIL,Solteiro,...,Ensino Médio Completo,2022,Com dispensa,Urbana,CANOAS,RS,BRASIL,10/52 - PALMEIRA DAS MISSOES,PALMEIRA DAS MISSOES,RS
2,1974,64.0,165.0,58.0,38.0,75.0,PORTO ALEGRE,RS,BRASIL,Solteiro,...,7° Ano - Ensino Fundamental,2022,Com dispensa,Urbana,ITAJAI,SC,BRASIL,16/28 - ITAJAI,ITAJAI,SC
3,1998,55.0,180.0,53.0,41.0,74.0,JANDIRA,SP,BRASIL,Solteiro,...,Ensino Médio Completo,2022,Com dispensa,Urbana,SERTAOZINHO,SP,BRASIL,5/123 - SERTAOZINHO,SERTAOZINHO,SP
4,1999,76.0,186.0,57.0,42.0,88.0,CACERES,MT,BRASIL,Outros,...,3° Ano - Ensino Médio,2022,Com dispensa,Urbana,CACERES,MT,BRASIL,30/24 - CACERES,CACERES,MT
5,2000,76.0,184.0,58.0,42.0,78.0,BRASILIA,DF,BRASIL,Solteiro,...,2° Semestre - Ensino Superior,2022,Com dispensa,Rural,BRASILIA,DF,BRASIL,7/331 - BRASILIA (SAMAMBAIA),BRASILIA,DF

In [5]:
df[['ALTURA']].boxplot()

In [39]:
df['ALTURA'].mode()

0    175.0
Name: ALTURA, dtype: float64

In [28]:
df[['ANO_NASCIMENTO', 'PESO', 'ALTURA', 'CALCADO', 'CINTURA']].mean()

ANO_NASCIMENTO    2003.740238
PESO                70.127900
ALTURA             174.413201
CALCADO             40.959573
CINTURA             77.289827
dtype: float64

In [4]:
df.dropna(subset = ['PESO', 'ALTURA', 'CABECA', 'CALCADO', 'CINTURA'], inplace = True)