In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('alistamento_militar_2022.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300914 entries, 0 to 300913
Data columns (total 22 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Unnamed: 0        300914 non-null  int64
 1   ANO_NASCIMENTO    300914 non-null  int64
 2   PESO              300914 non-null  float64
 3   ALTURA            300914 non-null  float64
 4   CABECA            300914 non-null  float64
 5   CALCADO           300914 non-null  float64
 6   CINTURA           300914 non-null  float64
 7   MUN_NASCIMENTO    300914 non-null  object
 8   UF_NASCIMENTO     300914 non-null  object
 9   PAIS_NASCIMENTO   300914 non-null  object
 10  ESTADO_CIVIL      300914 non-null  object
 11  SEXO              300914 non-null  object
 12  ESCOLARIDADE      300914 non-null  object
 13  VINCULACAO_ANO    300914 non-null  int64
 14  DISPENSA          300914 non-null  object
 15  ZONA_RESIDENCIAL  300914 non-null  object
 16  MUN_RESIDENCIA    300914 non-null  object
 17  UF_RESIDENCIA     300914 non-null  object
 18  PAIS_RESIDENCIA   300914 non-null  object
 19  JSM               300914 non-null  object
 20  MUN_JSM           300914 non-null  object
 21  UF_JSM            300914 non-null  object
dtypes: float64(5), int64(3), object(14)
memory usage: 50.5+ MB

In [4]:
df.head()

,Unnamed: 0,ANO_NASCIMENTO,PESO,ALTURA,CABECA,CALCADO,CINTURA,MUN_NASCIMENTO,UF_NASCIMENTO,PAIS_NASCIMENTO,...,ESCOLARIDADE,VINCULACAO_ANO,DISPENSA,ZONA_RESIDENCIAL,MUN_RESIDENCIA,UF_RESIDENCIA,PAIS_RESIDENCIA,JSM,MUN_JSM,UF_JSM
0,1,1995,79.0,181.0,56.0,41.0,88.0,PALMEIRA DAS MISSOES,RS,BRASIL,...,Ensino Médio Completo,2022,Com dispensa,Urbana,CANOAS,RS,BRASIL,10/52 - PALMEIRA DAS MISSOES,PALMEIRA DAS MISSOES,RS
1,2,1974,64.0,165.0,58.0,38.0,75.0,PORTO ALEGRE,RS,BRASIL,...,7° Ano - Ensino Fundamental,2022,Com dispensa,Urbana,ITAJAI,SC,BRASIL,16/28 - ITAJAI,ITAJAI,SC
2,3,1998,55.0,180.0,53.0,41.0,74.0,JANDIRA,SP,BRASIL,...,Ensino Médio Completo,2022,Com dispensa,Urbana,SERTAOZINHO,SP,BRASIL,5/123 - SERTAOZINHO,SERTAOZINHO,SP
3,4,1999,76.0,186.0,57.0,42.0,88.0,CACERES,MT,BRASIL,...,3° Ano - Ensino Médio,2022,Com dispensa,Urbana,CACERES,MT,BRASIL,30/24 - CACERES,CACERES,MT
4,5,2000,76.0,184.0,58.0,42.0,78.0,BRASILIA,DF,BRASIL,...,2° Semestre - Ensino Superior,2022,Com dispensa,Rural,BRASILIA,DF,BRASIL,7/331 - BRASILIA (SAMAMBAIA),BRASILIA,DF

In [20]:
df[['ALTURA']].max()

ALTURA    250.0
dtype: float64

In [21]:
df[['ALTURA']].min()

ALTURA    120.0
dtype: float64

In [22]:
df[['ALTURA']].mean()

ALTURA    174.417648
dtype: float64

In [23]:
df['ALTURA'].mode()

0    175.0
Name: ALTURA, dtype: float64

In [24]:
df[['ANO_NASCIMENTO', 'PESO', 'ALTURA', 'CALCADO', 'CINTURA']].mean()

ANO_NASCIMENTO    2003.637471
PESO                70.131373
ALTURA             174.417648
CALCADO             40.959570
CINTURA             77.289827
dtype: float64

In [5]:
# Criação da coluna referente ao IMC de cada pessoa 

df['IMC'] = df['PESO']/((df['ALTURA']/100)**2)
df['IMC'] = round(df['IMC'], 2)

In [6]:
# Criação da coluna referente à CLASSIFICAÇÃO DO IMC de cada pessoa 

df.loc[df['IMC'] < 16.9, 'CLASSIFICACAO_IMC'] = 'Muito Abaixo do Peso'
df.loc[(df['IMC'] >= 16.9) & (df['IMC'] < 18.4), 'CLASSIFICACAO_IMC'] = 'Abaixo do Peso'
df.loc[(df['IMC'] >= 18.4) & (df['IMC'] < 24.9), 'CLASSIFICACAO_IMC'] = 'Peso Normal'
df.loc[(df['IMC'] >= 24.9) & (df['IMC'] < 29.9), 'CLASSIFICACAO_IMC'] = 'Acima do Peso'
df.loc[(df['IMC'] >= 29.9) & (df['IMC'] < 34.9), 'CLASSIFICACAO_IMC'] = 'Obesidade Grau 1'
df.loc[(df['IMC'] >= 34.9) & (df['IMC'] < 40), 'CLASSIFICACAO_IMC'] = 'Obesidade Grau 2'
df.loc[(df['IMC'] >= 40), 'CLASSIFICACAO_IMC'] = 'Obesidade Grau 3'

In [11]:
df['CLASSIFICACAO_IMC'].count_values()

AttributeError: 'DataFrame' object has no attribute 'count_values'